<a href="https://colab.research.google.com/github/pitchikakumaraveeravenkataganesh/pytho-day-2-batch-7-assignment-submission/blob/master/python_3_batch_7_day_4_assignment_no_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#programm to find armstrong number at given interval


lower= 1042000
upper= 702648265

for num in range(lower,upper+1):
  #order of number
  order= len(str(num))

  #initialize sum
  sum=0
  temp= num
  while temp>0:
    digit=temp%10
    sum+=digit**order
    temp//=10
    if num == sum:
      print(num)

1741725
2097280
2097281
3278756
4210818
4782969
4861095
9800817
9926315
16790338
16790338
21816066
24678050
24678051
26682755
88593477
134217728
146511208
178477585