<a href="https://colab.research.google.com/github/pitchikakumaraveeravenkataganesh/pytho-day-2-batch-7-assignment-submission/blob/master/python_3_day_2_assignment_batch_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:


#adds list element as values of list
list=['mathematics','chemistry',1977,2000]
list.append(20544)
print(list)

['mathematics', 'chemistry', 1977, 2000, 20544]

In [30]:
#insert an element to list
list=['mathematics','chemistry',1977,2000]
#insert at index 2 value 10877
list.insert(2,10087)
print(list)

['mathematics', 'chemistry', 10087, 1977, 2000]

In [31]:
#extend add content to list2 to the end of list1
list1=[1,2,3]
list2=[2,3,4,5]
#add list2 to list1
list1.extend(list2)
print(list1)

[1, 2, 3, 2, 3, 4, 5]

In [32]:
#add list1 list2 now
list2.extend(list1)
print(list2)

[2, 3, 4, 5, 1, 2, 3, 2, 3, 4, 5]

In [33]:
#caluclate sum of all the elements of list
list=[1,2,3,4,5]
print(sum(list))

15

In [34]:
#caluclate minimum of all the elements of list
list=[2.3,4.445,3,5.33,1.054,2.5]
print(min(list))

1.054

In [35]:
#caluclate maximum of all  the elements of list
list=[2.3,4.445,3,5.33,1.054,2.5]
print(max(list))

5.33

# dictionary and its default functions

In [53]:
#python programm to show working of set default() methods in dictionary
#dictionary with single item 
Dictionary1 ={'A':'Geeks','B':'For','C':'Geeks'}
#using setdefault()method
Third_value=Dictionary1.setdefault('C')
print("Dictionary:",Dictionary1)
print("Third_value:",Third_value)

Dictionary: {'A': 'Geeks', 'B': 'For', 'C': 'Geeks'}
Third_value: Geeks

In [56]:
#EAMPLE2:#PYTHON PROGRAMM TO SHOW WORKING
#OF SETDEFAULT()METHOD IN DICTIONARY
#Dictionary  with  single item 
Dictionary1={'A':'Geeks','B':'For'}
#using setdefault()method
#when key is not in the dictionary
Third_value=Dictionary1.setdefault('C')
print("Dictionary:",Dictionary1)
print("Third_value:",Third_value)
#using setdefault()method
#when key is not in the Dictionary 
#but default value is provided 
Fourth_value=Dictionary1.setdefault('D','Geeks')
print ("Dictionary:",Dictionary1)
print("Fourth_value:",Fourth_value)

Dictionary: {'A': 'Geeks', 'B': 'For', 'C': None}
Third_value: None
Dictionary: {'A': 'Geeks', 'B': 'For', 'C': None, 'D': 'Geeks'}
Fourth_value: Geeks

sets and its default functions

In [57]:
#sets is a combination of list and dictionary
#different type of sets in python 
#set of integer 
my_set={1,2,3}
print (my_set)
#set of mixed data types
my_set={1.0,"hello",(1,2,3)}
print (my_set)

{1, 2, 3}
{'hello', 1.0, (1, 2, 3)}

set union

In [66]:
#intesection of sets 
#initialize Aand B
A={1,2,3,4,5}
B={4,5,6,7,8}
#use & operator 
print (A&B)

{4, 5}

diffrence between two sets

In [67]:
#differnce of two sets 
#intailizing A and B
A={1,2,3,4,5}
B={4,5,6,7,8}
#use - operator on A
print (A-B)

{1, 2, 3}

tuple and its default functions

In [71]:
#tuple() function
#python3 the use of tuple() function 
#when parameter is not used 
tuple1=tuple()
print(tuple1)
#when an iterable
list1=[1,2,3,4,5]
tuple2=tuple(list1)
print(tuple2)
#when an iterable
dict={1:'one',2: 'two'}
tuple3=tuple(dict)
print(tuple3)
#when an iterable
string="ganesh"
tuple4=tuple(string)
print (tuple4)

()
(1, 2, 3, 4, 5)
(1, 2)
('g', 'a', 'n', 'e', 's', 'h')

string and its default functions

In [72]:
#a string is a sequence of characters 
#creat  string in python 
my_string='hello'
print (my_string)
my_string="hello"
print (my_string)
my_string='''hello'''
print (my_string)
my_string="""hello,welcome to python """
print (my_string)

hello
hello
hello
hello,welcome to python

acess characters to string

In [75]:
#acessing string characters in python 
str='programiz'
print('str=',str)
#first character 
print ('str[0]=',str [0])
#last character
print('str [-1]=',str [-1])
#slicing 2nd to 5th character 
print ('str[1:5]=',str[1:5])
#slicing 6to 2nd last character 
print ('str [5:-2]=',str[5:-2])

str= programiz
str[0]= p
str [-1]= z
str[1:5]= rogr
str [5:-2]= am

iterating through a string

In [105]:
#itrating through a string 
count=0
for letter in 'Hello World':
  if (letter == 'l'):
    count+=1
  print(count,'letters found')

0 letters found
0 letters found
1 letters found
2 letters found
2 letters found
2 letters found
2 letters found
2 letters found
2 letters found
3 letters found
3 letters found